{% macro links(pages, collection, active, options, depth) %}
    {% for page in pages %}

        {% set children = collection.children(page) %}

        <li class="
            {{ children.isEmpty() ? '' : (options.dropdown_class ?: 'dropdown') }}
            {{ collection.hasActive(page, active) ? options.get('has_active_class', 'active') }}
            {{ page.id == active.id ? options.get('active_class', 'active') }}
            {{ options.item_class }}">

            <a href="{{ url(page.path) }}">
                {{ page.title }}
            </a>

            {% if not children.isEmpty() %}
                {% if depth+1 <= options.get('depth', 999) %}
                    <ul class="{{ options.child_list_class }}">
                        {{ _self.links(children, collection, options, depth+1) }}
                    </ul>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
