{% macro links(pages, collection, active, options) %}
    {% for page in pages %}
        <li class="
            {{ collection.children(page.getObject()).isEmpty() ?: (options.active_class ?: 'dropdown') }}
            {{ collection.children(page.getObject()).find(active.id) ? (options.active_class ?: 'active') }}
            {{ page.id == active.id ? (options.current_class ?: 'active') }}
            {{ options.item_class }}
            ">
            <a href="{{ url(page.path) }}">
                {{ page.title }}
            </a>

            {% if not collection.children(page.getObject()).isEmpty() %}
                <ul class="{{ options.child_list_class }}">
                    {{ _self.links(collection.children(page.getObject()), collection, active, options) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
